body {
        font-family: Times New Roman;
        background-color: rgb(195, 194, 193);
        color: purple;
         }

        h1 {
            text-align: center;
        }

        h2 {
            cursor: pointer;
        }

         footer {
            text-align: center;
            margin-top: 20px;
            color: #666;
        }
